nav {
    background-color: palevioletred;
    padding-top: 15px;
    padding-bottom: 15px;
}

a {
    color:black;
    padding-left: 10px;
    text-decoration: none;
}

body {
    border: grey solid 15px;
}

main{
    display: grid;
    grid-template-rows: auto;
    gap: 8px;
    /*grid-template-columns: 10% 100px auto 100px 100px;*/
    /*
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "header header header ."
        "main main navbar navbar"
        "main main article side"
        "aside . . side"
        ". foot foot foot";
        */
        /* stretch is the default */
        justify-items: stretch;
}

.facebook {
    grid-column: 5/6;
    grid-row: 1/2;
}

.twitter {
    grid-column: 5/6;
    grid-row: 2/3;
}

.ce {
    grid-column: 1/5;
    grid-row: 1/4;
}

.anon {
    grid-column: 5/6;
    grid-row: 3/4;
}

.familyCosumePic {
    grid-column: 1/3;
    grid-row: 4/6;
}

.joker {
    grid-column: 3/4;
    grid-row: 4/6;
}

.crazyHat {
    grid-column: 4/5;
    grid-row: 4/6;
}

.pinkWigs {
    grid-column: 5/6;
    grid-row: 4/6;
}

.oldCloths {
    grid-column: 1/2;
    grid-row: 6/8;
}

.superhero {
    grid-column: 2/4;
    grid-row: 6/7;
}

.candy {
    grid-column: 4/5;
    grid-row: 6/7;
}

.greatHats {
    grid-column: 5/6;
    grid-row: 6/7;
}

.props {
    grid-column: 1/2;
    grid-row: 8/9;
}

.sc {
    grid-column: 2/3;
    grid-row: 7/9;
}

.pinkSlip {
    grid-column: 3/5;
    grid-row: 7/8;
}

.freeShipping {
    grid-column: 5/6;
    grid-row: 7/8;
}

.kidsDressed1 {
    grid-column: 3/4;
    grid-row: 8/9;
}

.kidsDressed2 {
    grid-column: 4/5;
    grid-row: 8/9;
}

.sign {
    grid-column: 5/6;
    grid-row: 8/9;
}

.mask {
    grid-column: 1/2;
    grid-row: 9/10;
}

.colorMask {
    grid-column: 2/4;
    grid-row: 9/10;
}

p {
    grid-column: 5/6;
    grid-row: 9/10;
    color: red;
    align-items: stretch;
    text-align: right;
    padding-top: 70px;
}